*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    background-color: #e5e5fe;
    border:10px solid #1d1e4c;
    min-height:100vh;
}
.content{
    margin: 0 auto;
    max-width: 900px;
}
.top_section{
    margin-top:100px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1{
    font-size: 50px;
    font-weight: bold;
    color:#1d1e4c;
    text-transform: uppercase;
}
.top_section h4{
    font-size: 30px;
    text-align : end;
}
.img_container{
    border-radius: 50%;
    overflow: hidden;
}
 
.img_container,img{
    width: 350px;
    height: 300px;
    
}
.about_section{
    margin-top:50px;

}
.about_section h2{
    margin-top:50px;
    font-weight: 700;
    margin-bottom:20px;
}
.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align:justify;
}
.biography_section {
    margin: 50px 0;
}

.biography_section h2 {
    margin-top: 40px;
    margin-bottom:20px;
}

.biography_section ul{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    margin-left: 50px;
}
footer{
    margin: 50px 0;
}
footer p {
    text-align:end;
}